/*
Theme Name: Native Swedes
Theme URI: http://www.nativeswedes.se/
Description: A e-commerce theme by Victor Karlsson of Native Swedes.
Version: 1.0
Author: Victor Karlsson
Author URI: http://www.victorsportfolio.tumblr.com
*/

/* 					-= 	GENERAL =- 					*/

*
{
	margin				: 0px;
	padding				: 0px;
	box-sizing 			:border-box;
	-moz-box-sizing 	: border-box;
}

body
{
	background-image	: url('images/background/bjorkpattern.png'); 

}

h1, h2, h3, p 
{
	font-family			: 'Josefin Sans', sans-serif;
}

p
{
	color 				: #333333;
}

a
{
	text-decoration		: none;
  
}
a:hover
{
	color 				: #00a5a5; 
}

.active-link
{
	color 				: #00a5a5;
	border-bottom 		: 1px solid #00a5a5; 
}



#page-wrapper
{
	width				: 1028px;
	background-color	: #ffffff;
	margin				: auto;
	box-shadow			: 0 0 5px 5px #aaaaaa; 	   
}

/* 					-=	HEADER	=- 					*/

header
{
	background-color	: #222222; 
	position			: relative; 
}

header li
{
	color 				: #ffffff;
	display				: inline-block;
	margin				: 10px 5px 15px 0px; 
	border-right		: solid 1px;
	border-color 		: #ffffff; 
	padding-right		: 7px;

	
}

header li a 
{
	color 				: #ffffff;
	

}
header li a:hover 
{
	color 				: #00a5a5;
	border-bottom 		: 1px solid #00a5a5;


}

header ul
{
	border-top			: solid 1px; 
	border-color		: #ffffff;
	margin				: 20px 20px 0px 20px; 
	font-family			: 'Josefin Sans', sans-serif;
	font-weight			: 500;  
	text-transform      : uppercase;
	letter-spacing 		: 0.5px; 



}

header img
{
	padding-left		: 20px;
	margin-top			: 15px; 
} 

form header{
	display 			: inline-block; 
}


#right-nav
{
	display 			: inline-block;
	position			: absolute;
	right 				: 10px;
	top 				: 173px;
	border-top 			: none;
	margin 				: 0; 
}

.nav-last
{
	border 				: none;
}

#header-right
{
	position			: absolute;
	right 				: 20px; 
	top 				: 15px;	
}

#search-field
{
	width 				: 230px;
	height 				: 25px;  
}

#search-submit
{
	width 				: 65px;
	height 				: 24px;
	background-color 	: #00a5a5;
	color 				: #ffffff;
	border 				: none;
	font-weight			: bold;
	margin  			: 0px 0 0 24px; 
	font-size 			: 103%;  
	letter-spacing		: 1px;
	position 			: absolute;
	cursor 				: pointer;  

}


#shopping-cart
{
	background-color   	: #666666;
	width 				: 320px;
	height 				: 88px; 
	margin-top 			: 10px;    
}

#shopping-cart h3
{
	margin-left 		: 20px; 
	padding				: 15px 0 5px 0;
	font-size 			: 18px;
	text-transform  	: uppercase;  
	color 				: #ffffff;
	font-weight 		: 500;   
}

.empty
{
	margin 				: 5px 0 0 20px; 
	font-weight 		: bolder;
	color 				: #333333; 
	display				: inline;
	font-size			: 16px;   
}

#cart-product
{
	margin 				: 5px 0 0 20px;
	font-weight 		: bolder;
 	color 				: #EEE;
	display  			: inline;
	font-size 			: 18px;
}

#shopping-cart a
{
	display 			: block; 
	text-align 			: right;
	color 				: #ffffff; 
	padding-top			: 3px;
	margin-right 		: 14px; 
	font-size 			: 15px; 
}

#shopping-cart a:hover
{
	color 				: #00a5a5;
	text-decoration 	: underline; 
}

#cart-price
{
	padding-left 		: 150px;
	color 				: white;
	display 			: inline;
	font-size 			: 18px;
	font-weight 		: bolder;  
}

#header-right label
{
	display 			: none;
}

/* 					-=	MAIN CONTENT	=- 				*/


#products
{
	
	padding-left  		: 0;  
}



.product-item 
{
	margin 				: 0 13px 30px 0;
	display 			: inline-block;
	font-weight 		: 600;
	text-transform 		: uppercase;
	padding-left  		: 0; 
	height 				: 305px 
}

.product-name
{
	margin-top			: 10px;
}


.product-price
{
	color 				: #00a5a5;
	font-size			: 22px; 
	font-weight 		: bold;   
}

.product-item:hover
{	
	opacity	    		: 0.8;
	 
	border-bottom 		: 1px solid #00a5a5; 
}
/*				product detail page 		*/
#main-content
{
	position 			: relative;
	margin 				: 50px 0 0 20px; 
}

#product-details
{
	
	width 				: 570px; 
}

.product-thumbs
{
	display 			: inline-block;
	margin 		 		: 20px 17px 0 0; 
	  
}

#product-information
{
	position			: absolute; 
	top 				: 0px;
	right 				: 20px;  			
	width 				: 400px;    
}

#product-information h2
{
	text-transform  	: uppercase;
	color 				: #00a5a5;
	letter-spacing 		: 1px;  
}

#sizeing
{
	text-transform  	: uppercase;
	color 				: #00a5a5;
	letter-spacing 		: 1px;
	margin-top 			: 20px; 	
}

#product-information p
{
	margin-top 			: 10px;
	font-family 		: 'arial', sans-serif;
	line-height 		: 125%; 
	font-size			: 15px;    
}

#price-tag
{
	margin-top 			: 35px; 
}



#price-text
{
	text-transform  	: uppercase;
	font-family 		: 'Josefin Sans', sans-serif;
	font-weight 		: bold;
	font-size 			: 22px;  
}

#price
{
	text-transform  	: uppercase;
	font-family 		: 'Josefin Sans', sans-serif;
	font-weight 		: bold;
	font-size 			: 24px;
	color 				: #00a5a5;
}

#size-header
{
	text-transform  	: uppercase;
	padding-top			: 35px;
	color 				: #333333;
	font-size 			: 14px; 
	font-weight 		: bold; 
}

#size-option 
{
	width				: 210px;
	margin-top 			: 5px; 
	display 			: block;  
}

#product-submit
{
	width 				: 315px;
	height 				: 80px;  
	background-color 	: #00a5a5;
	color 				: #ffffff;
	text-transform  	: uppercase;
	font-family 		: 'Josefin Sans', sans-serif;
	border 				: none;
	font-weight			: bold;
	font-size 			: 22px;  
	letter-spacing		: 1px;
	cursor 				: pointer;
	margin-top 			: 35px; 
}

#product-image-info
{
	position 			: absolute;
	top 				: -20px; 
}

/* 				RELATED PRODUCTS 				*/

#related-products
{
	margin 				: 70px 0 0 0;
}

#related-products-header
{
	text-transform  	: uppercase;
	font-weight 		: 600; 
	font-size 			: 22px;
	color 				: #666666;
	border-bottom		: 1px solid #00a5a5;
	padding-bottom 		: 5px;
	margin-right 		: 345px;   
}

#related-products-list
{
	
	margin 				: 15px 0 0 0;   
}

.related-products-item
{
	display: block;
	float: left;
	height: 200px;
	margin: 0 17px 0 0;
}

.related-products-item-text
{
	margin-top 			: 15px;
	color 				: #666666;
	font-size 			: 14px;
	width 				: 150px;
	letter-spacing 		: 1px; 
	font-weight 		: bolder;
	text-transform 		: uppercase; 
}

.related-products-item:hover
{
	opacity	    		: 0.8;
	border-bottom 		: 1px solid #00a5a5

}

/* 					-=	CHECKOUT	=- 				*/

#checkout-shopping-cart h2
{
	font-size 			: 30px;
	text-transform 		: uppercase;
	color 				: #00a5a5;  
}

#checkout-shopping-cart h3
{
	margin 				: 50px 520px 30px 0;
	padding-bottom 		: 8px; 
	text-transform 		: uppercase;
	font-size 			: 18px;
	color 				: #666666;
	border-bottom 		: 1px solid #00a5a5;      
}

.shopping-cart-item
{
	height 				: 65px;
	margin-bottom 		: 30px;
	list-style 			: none;   
}

.shopping-cart-img{
	float 				: left;  

}

.shopping-cart-info
{
	float 				: left;
	margin 				: 0 0 0 20px;  
}

.shopping-cart-price
{
	margin 				: 0 0 0 425px;
	font-weight 		: bold; 
}

.shopping-cart-item p 
{
	font-family 		: 'arial', sans-serif;
	font-size 			: 14px;   
}

.shopping-cart-delete-link{
	margin-top 			: 5px; 
}

.shopping-cart-delete-link a
{
	color 				: #666666;
	font-size 			: 13px;
	margin-top 			: 20px;   
}

.shopping-cart-delete-link a:hover
{
	color 				: #666666;
	font-size 			: 13px;
	margin-top 			: 20px;
	text-decoration 	: underline;    
}

.shopping-cart-productname
{
	text-transform 		: uppercase; 
}

.shopping-cart-size
{
	font-weight 		: bold; 
}

#shipping-information
{
	margin 				: 212px 0 30px 0; 
}


#shipping-information select
{
	width 				: 175px; 
}

#shipping-information p
{
	font-family 		: 'arial', sans-serif;
	font-size 			: 14px;  
}

#price-information
{
	width 				: 485px;
	height 				: 144px;
	border 				: 1px solid #333333;   
}

#price-information-details p
{
	font-family 		: 'arial', sans-serif;
	font-size 			: 14px;  
}

#price-information-details
{
	margin 				: 20px 0 0 25px;
	position 			: relative;  
}

.price-information-price
{
	position 			: absolute;
	right 				: 15px; 
	font-weight 		: bold;  
}

#price-totalt-amount
{
	margin-top 			: 50px; 
}

#customer-information
{
	position 			: absolute;
	right 				: 20px;
	top 				: 77px;
	width 				: 485px;
	height 				: 550px;
	background-color 	: #eeeeee;     
}

#customer-information-wrapper
{
	margin 				: 30px 0 0 20px;
	position			: relative;  
}

#customer-information-wrapper h2
{
	font-family 		: 'arial', sans-serif;
	font-size 			: 18px;
	margin-bottom 		: 40px;
	font-weight 		: normal;    
}


#customer-information-wrapper form p
{
	margin-bottom 		: 20px;
	font-family 		: 'arial', sans-serif;  
}

.customer-information-field
{
	position 			: absolute;
	left 				: 100px; 
}

.customer-information-field input
{
	height 				: 25px;
	width 				: 230px; 
}

#customer-information-wrapper form p#adress
{
	margin 				: 45px 0 12px 0; 
}

.optional
{
	color 				: #cd0000; 
	font-size 			: 0.8em;
}

#checkout-submit
{
	width 				: 315px;
	height 				: 70px;
	background-color 	: #00a5a5;
	color 				: #ffffff;
	border 				: none;
	text-transform 		: uppercase; 
	font-family 		: 'Josefin Sans', sans-serif; 
	font-weight			: bolder;
	margin  			: 10px 0 0 65px; 
	font-size 			: 103%;  
	letter-spacing		: 1px;
	cursor 				: pointer; 

}

#optional
{
	 
	position			: absolute;
	top 				: 490px;
}



/* 					-=	FOOTER	=- 				*/

.footer
{
	clear 				: both;
	padding-top 		: 100px;
}

#footer
{
	background-color 	: #222222;
	
	position 			: relative;   
}

#footer-nav
{
	margin 				: 0 0 0 20px; 
	padding-top 		: 30px; 
	 
}

#footer ul
{
	list-style 			: none;
}

footer nav li a
{
	color 				: #ffffff; 
	font-family			: 'arial', sans-serif;
	font-size 			: 0.8em;
	letter-spacing 		: 1px;   
  
}

footer nav li a:hover
{
	border-bottom 		: 1px solid #00a5a5;
	color				: #00a5a5;
}

footer nav li
{
	margin-bottom 		: 5px;
}

#footer-nav-bottom
{
	padding 			: 30px 0 30px 0; 
}

#footer img
{
	position 			: absolute;
	top 				: 47px;
	left 				: 463px;   
}

#misc-navigation
{
	position 			: absolute;
	top 				: 27px;
	right  				: 20px; 
	text-align 			: right;   
}

#misc-navigation p
{
	color 				: #ffffff;
	font-family 		: 'arial', sans-serif;
	font-size 			: 0.8em;
	padding-top 		: 85px;    
}

/* 					-=	Editor options	=- 				*/

.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignright {
	float: right;
	margin-left: 15px;
}

.alignleft {
	float: left;
	margin-right: 15px;
}




